.App {
    background: linear-gradient(287.56deg, rgba(202, 204, 213, 0.5) 0%, rgba(222, 228, 239, 0.5) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);

}

.Center {
    width: 1280px;
    margin: 0 auto;
}

.HeaderApp {
    display: flex;
    width: 100%;
    height: 80px;
    flex-direction: row;

}

.UserAppBlock {
    margin-left: 40px;
    margin-top: 23.27px;
    margin-bottom: 23.27px;
    display: flex;
    width: 260px;
    height: 33px;
    margin-bottom: 26px;
    justify-content: center;
    align-items: center;
}

.Logo {
    margin-left: 40px;
}

.UserApp {
    width: 82px;
    height: 28px;
    margin-left: 16px;

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-align: left;

}

.Header {

    display: flex;
    width: 720px;
    height: 24px;
    margin-left: 156px;
    margin-top: 26px;
    margin-bottom: 26px;


}

.ArrowLeft {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    margin-left: 24px;
}

.HeaderText {
    width: 600px;
    height: 24px;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;


}

.Printer {
    width: 24px;
    height: 24px;

}

.Git {
    width: 24px;
    height: 24px;
    margin-left: 16px;

}

.UserPlus {
    width: 24px;
    height: 24px;
    margin-left: 16px;
    margin-right: 24px;
}

.Avatar {
    display: flex;
    width: 172px;
    height: 40px;
    margin-top: 20px;
    margin-right: 40px;
    text-align: right;

}

.Photo {
    width: 42px;
    height: 40px;
    background-color: #C4C4C4;
    border-radius: 50%;
    margin-right: 16px;

}

.User {
    width: 150px;
    height: 28px;

    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.75px;
    text-align: left;
    word-wrap: normal;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 16px;


}

.Points {
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.Point {


}

.Body {
    display: flex;

}

.Left {
    width: 300px;
    height: 640px;
    padding: 16px 24px 40px 24px;


}

.UsersBlock {
    display: flex;
    width: 252px;
    height: 56px;
    margin-left: 24px;
    margin-top: 16px;
    margin-right: 24px;
    background: #F6F8F8;
    box-shadow: 0px 8px 32px rgba(69, 69, 69, 0.06);
    border-radius: 16px;
}

.UsersProfile {
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.Users {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #FA6400;
    margin-left: 16px;
    margin-top: 16px;
    margin-right: 87px;
    margin-bottom: 16px;


}

.TimeBlock {
    display: flex;
    width: 252px;
    height: 56px;
    margin-left: 24px;
    margin-top: 16px;
    margin-right: 24px;

}

.Watch {
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 16px;
    padding-bottom: 16px;

}

.Time {
    width: 252px;
    height: 56px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #797F8F;
    padding-top: 16px;
    padding-right: 91px;
    padding-bottom: 16px;


}

.SettingsBlock {
    display: flex;
    width: 252px;
    height: 56px;
    margin-left: 24px;
    margin-top: 16px;
    margin-right: 24px;
}

.Sliders {
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 16px;

}

.Settings {
    width: 252px;
    height: 56px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #797F8F;
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 16px;

}

.Right {
    width: 980px;
    height: 720px;
    margin-left: 24px;
}

.Table {
    width: 940px;
    height: 616px;
    margin-top: 16px;
    background-color: #FFFFFF;
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(69, 69, 69, 0.06);
    border-radius: 16px;

}

.Sort {
    width: 940px;
    height: 80px;
    display: flex;


}

.FlnameBlock {
    display: flex;
    width: 317px;
    height: 40px;
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 16px;
    background: #F6F8F8;
    border-radius: 12px;

}

.Search {
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 8px;
    margin-right: 12px;

}

.Search-flname {
    width: 85px;
    height: 21px;
    margin-top: 9px;
    margin-left: 12px;
    margin-bottom: 9px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #797F8F;


}

.RoleBlock {
    display: flex;
    width: 230px;
    height: 40px;
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: 16px;
    background: #F6F8F8;
    border-radius: 12px;
}

.Choose-role {
    width: 172px;
    height: 21px;
    margin-top: 9px;
    margin-left: 12px;
    margin-bottom: 9px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #797F8F;


}

.CaretDown {
    width: 10px;
    height: 10px;
    margin-right: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 16px;


}

.AccessBlock {
    display: flex;
    width: 230px;
    height: 40px;
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: 16px;
    background: #F6F8F8;
    border-radius: 12px;

}

.Choose-access {
    width: 172px;
    height: 21px;
    margin-left: 16px;
    margin-bottom: 9px;
    margin-top: 9px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #797F8F;


}

.Reset {
    width: 67px;
    height: 21px;
    margin-top: 33px;
    margin-bottom: 25px;
    margin-left: 16px;
    margin-right: 24px;
    color: #FA6400;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;


}

.Cap {
    width: 940px;
    height: 48px;
    display: flex;
}

.LockBlock {

    width: 40px;
    height: 16px;
    margin: 16px;
}

.Lock {
    width: 16px;
    height: 16px;

}

.LastBlock {
    display: flex;
    width: 484px;
    height: 80px;
    margin-top: 76px;
    margin-left: 32px;
    align-items: flex-end;

}

.LastChanges {
    display: flex;
    width: 360px;
    height: 16px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(184, 199, 204, 1);
    background: rgba(255, 255, 255, 1);
    margin-top: 52px;
    margin-bottom: 12px;


}

.Save {
    width: 108px;
    height: 40px;
    color: #FFFFFF;
    background: linear-gradient(74.6deg, #FF8901 0%, #FF3E3B 100%);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 9px 16px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 40px;
    margin-left: 16px;

}

.Flname {
    width: 183px;
    height: 16px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #B8C7CC;
    margin: 16px;


}

.Login {

    width: 128px;
    height: 16px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #B8C7CC;
    margin: 16px;

}

.Role {

    width: 132px;
    height: 16px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #B8C7CC;
    margin: 16px;

}

.Access {

    width: 200px;
    height: 16px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #B8C7CC;
    margin: 16px;


}

.Personal {
    display: flex;
    width: 940px;
    height: 48px;

}

.Name {
    width: 200px;
    height: 16px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #262D38;
    margin: 16px;


}

.LoginPersonal {
    width: 140px;
    height: 16px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #262D38;
    margin: 16px;

}

.RolePersonal {
    width: 140px;
    height: 16px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #262D38;
    margin: 16px;

}

.AccessPersonal {
    width: 324px;
    height: 16px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #262D38;
    margin: 16px;


}

.LowerTable {
    display: flex;
    width: 940px;
    height: 37px;
    margin-top: 24px;
    margin-bottom: 27px;

}

.Select {
    display: flex;
    width: 158px;
    height: 37px;
}

.SelectText {
    width: 100px;
    height: 21px;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-right: 16px;

}

.BlockCaretDown {
    width: 10px;
    height: 10px;
    margin-right: 16px;
    margin-top: 9px;
    margin-bottom: 8px;
}

.CaretDownSelect {

}

.ChoosePage {
    display: flex;
    align-items: center;

}

.page {
    width: 24px;
    height: 24px;
    display: flex;

}

.StripesLeft {
    width: 24px;
    height: 24px;
    margin-left: 167px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #888888;
    padding: 6px 8px;

}

.One {
    width: 33px;
    height: 35px;
    display: flex;
    background: #F6F8F8;
    box-shadow: 0px 8px 24px rgba(69, 69, 69, 0.06);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(250, 100, 0, 1)
}

.Two {
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    color: rgba(136, 136, 136, 1);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

}

.Three {
    width: 36px;
    height: 35px;
    justify-content: center;
    align-items: center;
    color: rgba(136, 136, 136, 1);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;


}

.Ellipsis {
    width: 39px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
    margin-left: 2px;
    color: rgba(136, 136, 136, 1);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;


}

.TwentyEight {
    width: 45px;
    height: 35px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: rgba(136, 136, 136, 1);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;


}

.StripesRight {
    width: 24px;
    height: 24px;
    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #888888;
    padding: 6px 8px;
}

.RightProfile {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(83, 100, 120, 0.15);
    border-radius: 16px;
    width: 787px;
    height: 526px;
    margin-left: 24px;
    margin-bottom: 178px;


}

.ProfilePhoto {
    width: 191px;
    height: 250px;
    margin-left: 40px;
    margin-top: 32px;
    margin-bottom: 16px;


}

.ResetPassword {
    display: flex;
    width: 191px;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #262D38;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    margin-left: 40px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.DeleteUser {
    display: flex;
    width: 191px;
    height: 40px;
    color: rgba(255, 62, 59, 1);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-left: 40px;

}

.DescriptionProfile {
    width: 484px;
    height: 462px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.ProfileName {
    width: 157px;
    height: 42px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 32px;
    margin-left: 32px;

}

.ProfileBlock {
    display: flex;
    width: 371px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 32px;
    margin-top: 33.5px;

}

.LoginProfile {
    width: 58px;
    height: 21px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(121, 127, 143, 1);
    align-items: flex-start;
    margin-left: 14px;

}

.LoginProfileText {
    width: 355px;
    height: 40px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(38, 45, 56, 1);
    background: rgba(217, 227, 232, 0.5);
    border-radius: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;

}

.RoleProfile {
    width: 36px;
    height: 21px;
    margin-top: 18px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(121, 127, 143, 1);
    margin-left: 14px;


}

.BlockForRole {
    display: flex;
    width: 371px;
    height: 40px;
    color: rgba(38, 45, 56, 1);
    background: rgba(217, 227, 232, 0.5);
    border-radius: 12px;
}

.RoleProfileText {
    width: 319px;
    height: 21px;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 9px;
    padding-left: 16px;


}

.CaretDownProfile {
    width: 10px;
    height: 10px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 16px;
}

.AccessProfile {
    display: flex;
    width: 50px;
    height: 21px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(121, 127, 143, 1);
    margin-right: 48px;
    margin-bottom: 8px;
    margin-left: 14px;
    margin-top: 33.5px;


}

.PreLastBlock {
    display: flex;
    width: 300px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.TextDelete {
    width: auto;
    height: 32px;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    background: rgba(217, 227, 232, 0.5);
    border-radius: 8px;

}

.AccessProfileText {
    margin-left: 16px;
    margin-top: 8px;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;


}

.DeleteAccessBlock {

}

.DeleteAccess {
    margin-top: 12px;
    margin-left: 8px;
    margin-right: 16px;

}

.PlusAccess {
    width: 24px;
    height: 24px;
    margin-left: 8px;
}

.UnlockBlock {
    width: 140px;
    height: 21px;
    display: flex;
    margin-top: 32px;

}

.LockProfile {
    width: 16px;
    height: 16px;
    margin-right: 16px;
    margin-left: 32px;
    margin-top: 66.5px;
}

.Unlock {
    width: 108px;
    height: 21px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(184, 199, 204, 1);
    margin-top: 64px;

}